@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600;700;900&display=swap');

body {
    direction: rtl;
    font-family: 'Heebo', sans-serif;
}

.icon {
    height: 60px;
    width: 60px;
}

a.nav-link {
        font-size: 20px;
    }


li.nav-item {
margin: 0 12px;
}