@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700;900&display=swap');
body {
    direction: rtl;
    background-color: turquoise;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

form {
    width: 80%;
    background-color: white;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 0 3px #5c5c5c;
    margin: auto;
    min-width: 600px;
}

label {
    display: block;
    margin-bottom: 3px;
}

input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid gray;
    /* width: 100%; */
    box-sizing: border-box;
}

div {
    background-color: burlywood;
    margin-bottom: 12px;
    max-width: 300px;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 0 3px #00000066;
    border-right: 5px solid #de8383;
    box-sizing: border-box;
}