@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600;700;900&family=Satisfy&display=swap");
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  direction: rtl;
  font-family: 'Heebo', sans-serif;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

nav {
  padding: 0 !important;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(168, 168, 168, 0.478431);
          box-shadow: 0px 5px 10px 1px rgba(168, 168, 168, 0.478431);
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  z-index: 1;
}

.logo {
  font-family: 'Satisfy', cursive;
}

.logo span {
  margin-left: 8px;
  font-size: 25px;
  position: relative;
  top: 8px;
}

.logo .icon {
  height: 60px;
  border-radius: 8px;
}

li.nav-item {
  margin: 0 12px;
}

a.nav-link {
  font-size: 20px;
  font-weight: 600;
  color: #2C2C2C !important;
}

.main {
  text-align: center;
  background-image: linear-gradient(45deg, #13e8f14d, #13e8f14d), url(assets/Image20230430153820.png);
  background-size: cover;
  padding: 12vw 6vw !important;
  margin: 0 !important;
}

.main h1 {
  font-size: 80px;
  font-weight: bold;
}

.icons {
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  direction: ltr;
  padding: 8px;
}

.icons img {
  height: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icons img:hover {
  scale: 1.1;
}

#about {
  text-align: center;
  max-width: 850px;
  margin: auto;
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

#about img {
  width: 150px;
  border-radius: 100px;
}

#about h2 {
  margin: 30px;
  font-weight: bold;
}

#about button {
  margin-top: 20px;
  font-size: 1.4em;
  border-radius: 30px;
  padding: 6px 32px;
}

#about me2 {
  width: 200px;
  padding: 10px;
  height: 100px;
}

#gallery {
  padding: 100px 0;
  background-color: #f3f3f3;
}

#gallery h2 {
  text-align: center;
  font-weight: bold;
}

#gallery .row {
  max-width: 1100px;
  padding: 16px;
  margin: auto;
}

#gallery .row > div {
  padding: 16px;
}

#gallery .row .card {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#gallery .row .card img {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#gallery .row .card:hover {
  -webkit-box-shadow: 0 0 8px #00000056;
          box-shadow: 0 0 8px #00000056;
}

#gallery .row .card:hover img {
  scale: 1.1;
  translate: 0 -5px;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

#gallery .row .card .card-body {
  padding: 2rem 1rem;
}

#gallery .row .card .card-body h4 {
  font-size: 25px;
  font-weight: bold;
}

#gallery .row .card .card-body p {
  margin-top: 20px;
  font-size: 15px;
}

#gallery .row .card .card-body a {
  margin-top: 20px;
  border-radius: 30px;
  padding: 6px 32px;
}

#contact {
  background-image: linear-gradient(45deg, #00000073, transparent), url(contact_us.png);
  background-color: #3A3A3A;
  padding: 4vw 3vw !important;
  margin: 0 !important;
  color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: revert;
}

#contact form {
  margin: 32px;
}

#contact input.form-control {
  border-bottom: 3px solid aqua;
  border-radius: 0;
  margin-bottom: 16px;
}

#contact button {
  margin-top: 32px;
  font-size: 1.4em;
  border-radius: 30px;
  padding: 6px 32px;
}

#links {
  background-color: #31d2f2;
  text-align: center;
}

#links img {
  width: 40px;
  display: block;
  margin: auto;
}

#links span {
  margin: 8px 0;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */